
body {
    background-image: url('../assets/images/bg.jpg');
}

/* styling for slides that are inactive */
.impress-enabled .step {
    margin: 0;
    opacity: 0.0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    /*-ms-transition: opacity 1s ease;*/
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

    /* styling for slides that are active*/
    .impress-enabled .step.active {
        opacity: 1;
    }


/* styling for all slides */
.text{
    display: block;
    width: 600px;
    height: 380px;
    padding: 40px 60px;
    background-color: pink;

    border: 5px solid yellow;
    color: #ff6a00;
    text-shadow: 0 2px 2px yellow;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;

}
.slide {
    display: block;
    width: 800px;
    height: 400px;
    padding: 40px 60px;
    background-color: pink;

    border: 5px solid yellow;
    color: #0ff;
    text-shadow: 0 2px 2px yellow;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* styling for slide paragraphs */
.slide p {
        margin-top: 15px;
        margin-bottom: 30px;
        line-height: 30px;
    }

.text a, .text a:visited{
    
        color: #ff006e;
        text-decoration: wavy;
        background-color: yellow;
        padding: 5px;
        border-radius: 1px;
        border:  solid #00ff92;
}
/* styling for slide links */
.slide a, .slide a:visited {
        color: #ff006e;
        text-decoration: wavy;
        background-color: yellow;
        padding: 5px;
        border-radius: 1px;
        border:  solid #00ff92;
    }


.text a:hover, .text a:active {
            background-color: #ffffff;
        }
.slide a:hover, .slide a:active {
            background-color: #ffffff;
        }

/* styling for slide text area */
.slide .slide-text {
        height: 450px;
    }

/* styling for menu section of each slide */
div.menu {
    border-top: 2px solid #00ff92;
    padding-top: 25px;
    text-align: center;
}